# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# VS
/.vs/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# System files
Thumbs.db
desktop.ini

# Logs
/logs/
*.log

# Backup files
articles.db
/ConfigurationFiles/portfolio.json
/ConfigurationFiles/transactions.json
/ConfigurationFiles/portfolio_history.json
