# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# VS
/.vs/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Logs
/logs/
*.log

# Database files
articles.db
/data_bases

# Configuration files
/ConfigurationFiles/scraped_articles_bitcoinmagazine.json
/ConfigurationFiles/scraped_articles_cointelegraph.json
/ConfigurationFiles/scraped_articles_cryptonews.json

/ConfigurationFiles/portfolio.json
/ConfigurationFiles/portfolio_history.json
/ConfigurationFiles/transactions.json

# Test files
test*.json
test*.db
