python-telegram-bot~=21.11.1
requests~=2.32.5
ccxt~=4.4.100
matplotlib~=3.10.8
pandas~=2.2.3
mplfinance~=0.12.10b0
pytz~=2025.2
cloudscraper~=1.2.71
bs4~=0.0.2
beautifulsoup4~=4.13.5
openai~=1.64.0
aiosqlite~=0.21.0
numpy~=2.2.6
six~=1.16.0
